{% macro social_links(social_config) %}
<div class="social-list">
  {% set base_url = get_url(path="", lang=lang) %}
<ul>
  {% for item in social_config.entries %}
  <li>
    {% set svg_path="svg/" ~ item.name ~ ".svg" %}
    <a href="{{ item.url }}" aria-label="Open {{ item.url }}" target="_blank">
      <img src="{{get_url(path=svg_path)}}" alt="{{item.name}}" class="icon">
    </a>
  </li>
  {% endfor %}
</ul>  
</div>

  {# {% if config.generate_feed %}
  <a href="{{ base_url }}/{{ config.feed_filename }}" aria-label="Open atom xml feed" target="_blank">
    <span class="icon is-large">
      <i class="fas fa-rss fa-lg" aria-hidden="true" title="atom xml feed"></i>
    </span>
  </a>
  {% endif %} #}
{% endmacro %}
